/* Three Column */
#pagewrap {
	width: 100%;
}

#middle {
    width: 52%;
    float: right;
    background-color: transparent;
    padding: 0 6px;
    box-sizing: border-box;
}

#menu {
    width: 100%;
    height: 55px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
}

#menu a {
    width: 50%;
    float: left;
    line-height: 55px;
    color: #464646;
    transform: translateZ(0);
}

#menu a span {
    display: block;
    height: 41px;
    background-color: white;
}

#menu a em {
    float: left;
    width: calc(50% - 7px);
    height: 14px;
    background-color: white;
}

#menu a:nth-of-type(1) em:nth-of-type(1) {
    border-bottom-left-radius: 12px;
}

#menu a em:nth-of-type(2) {
    width: 0;
    height: 0;
    border-width: 7px;
    border-style: solid;
    border-color: white;
    background-color: transparent;
}

#menu a:nth-of-type(2) em:nth-of-type(3) {
    border-bottom-right-radius: 12px;
}

#menu a.selected em:nth-of-type(2) {
    border-bottom-color: transparent;
}

#middle .card {
    width: 100%;
    background-color: white;
    border-radius: 12px;
}

#middle .card li {
    padding: 0 20px;
}

#middle .card .list-head,
#middle .card .list-foot {
    height: 40px;
    padding-top: 10px;
}

#middle .card .list-head a {
    font-size: 20px;
    color: #0EA2C2;
}

#middle .card .list-head .star,
#middle .card .list-head .fork {
    float: right;
    margin-left: 10px;
}

#middle .card svg {
    vertical-align: bottom;
}

#middle .card .file {
    height: 40px;
    border-bottom: 1px solid #F5f5f5;
}

#middle .card .file a {
    line-height: 40px;
	margin-right: 20px;
}

/*#middle .card .file:nth-of-type(2n) {
    background-color: #F5F5F5;
}*/

/*#middle .card .file:nth-of-type(2n) .file-icon::before {
    border-color: #F5F5F5 #F5F5F5 rgba(255,255,255,.35) rgba(255,255,255,.35);
}*/

#middle .card .file-icon {
    vertical-align: middle;
    margin-right: 20px;
}

#middle .card .file a {
    color: #0EA2C2;
}

#sidebar {
    box-sizing: border-box;
	width: 30%;
	float: right;
    padding: 25px 8px 0 8px;
}

#sidebar ul li {
    border-bottom: 1px solid #F5f5f5;
    margin-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    vertical-align: middle;
}

#sidebar ul li a {
    color: #3262B2;
    margin-right: 5px;
}
