#t2 {
    width: 82%;
}

#personalInfo {
    width: 18%;
    float: left;
}

#personalInfo img {
    width: 100%;
    border-radius: 4px;
}

#personalInfo button {
    height: 25px;
    width: 65px;
    font-size: 10px;
    border-radius: 4px;
    color: white;
    position: absolute;
}

#personalInfo #words {
    position: relative;
}

#personalInfo #words #edit {
    background-color: #00FBCD;
    right: 10px;
    box-shadow: #00C9FA 5px 4px 0 0;
}

#personalInfo h2 {
    margin: 10px auto;
}

#personalInfo #motto {
    width: 100%;
    color: #888888;
    margin-top: 0;
}

#personalInfo #social {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    padding-bottom: 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    position: relative;
}

#social button.follow {
    background-color: #00FBCD;
    z-index: 1;
    right: 10px;
}

#social button.unfollow {
    background-color: #00C9FA;
    top: 19px;
    right: 5px;
}

#social button.selected {
    z-index: 1;
    top: 15px;
    right: 10px;
}

#social button.unselected {
    top: 19px;
    right: 5px;
}

#social div {
    margin-bottom: 15px;
    vertical-align: middle;
}

#social div a {
    font-size: 25px;
    color: #0EA2C2;
    display: inline-block;
    margin-right: 12px;
}

#social div span {
    font-size: 14px;
    color: #999999;
}

#otherInfo li {
    padding: 0 15px;
}

#otherInfo li p {
    display: inline-block;
    margin: 10px 0;
}

#repository .bottom {
    color: #898989;
    font-size: 20px;
}

#repository .bottom #chart {
    height: 260px;
}

/* 弹窗样式 */
#fill {
    position: absolute;
    height: calc(100% - 50px);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
    display: none;
}

#fill #popup {
    display: inline-block;
    height: 540px;
    width: 404px;
    overflow: hidden;
    background: white;
    position: relative;
    left: 50%;
    top: 50%;
    margin-top: -350px;
    margin-left: -202px;
    border-radius: 5px;
    border: 2px solid #F3F3F3;

    transform: scale(0);
    -webkit-transition: transform 0.2s ease;
}

#fill #popup.show {
    transform: scale(1);
}

#popup nav {
    border: none;
    border-bottom: none;
    display: inline-block;
    text-align: center;
}

#popup nav a {
    width: 200px;
    height: 50px;
    float: left;
    line-height: 50px;
    color: #464646;
    transform: translateZ(0);
}

#popup nav a.selected::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #F3F3F3 #F3F3F3;
}

#popup form {
    box-sizing: border-box;
    position: absolute;
    top: 50px;
    width: 100%;
    -webkit-transition: left 0.2s ease;
}

#basicForm,
#passwordForm {
    padding: 5px 15px;
}

#popup #passwordForm {
    left: 404px;
}

#basicForm p {
    margin: 5px 0;
}

#basicForm img {
    height: 90px;
    width: 90px;
    border-radius: 5px;
    display: inline-block;
}

#basicForm a {
    width: 65px;
    height: 25px;
    background: #3EF1C4;
    overflow: hidden;
    position: relative;
    color: white;
    font-size: 10px;
    text-align: center;
    border-radius: 4px;
    line-height: 25px;
    margin-left: 20px;
}

#basicForm input[type="file"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#basicForm input[type="text"],
#passwordForm input[type="password"] {
    box-sizing: border-box;
    background: #F3F3F3;
    padding: 5px;
    width: 100%;
    font-size: 16px;
}

#passwordForm input[type="password"] {
    width: calc(100% - 40px);
}

.submitDiv {
    margin-top: 15px;
    border-top: 1px solid #C8C8C8;
}

.submitDiv button {
    background: #FF4539;
    color: white;
    width: 100%;
    height: 30px;
    border-radius: 4px;
    margin: 10px auto;
}

.submitDiv input[type="submit"] {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    color: white;
    background-color: #3EF1C4;
    font-size: 14px;
}

#basicForm textarea {
    background: #F3F3F3;
}

@media (max-height: 800px) {
    #repository ul li p:nth-of-type(1) {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        width: 450px;
        overflow: hidden;
    }
}