#t2 {
	width: 82%;
}

main {
    height: auto;
	min-height: calc(100% - 50px);
}

#repository {
	width: 70%;
}

#repository ul li {
	height: auto;
}

#sort {
	float: left;
	width: 28%;
	box-sizing: border-box;
	border: 1px solid #f3f3f3;
}

#sort > div {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #f3f3f3;
	padding: 15px;
}

#count span {
	font-size: 20px;
	color: #464646;
}

#sortMethod span {
	display: inline-block;
	font-size: 18px;
	height: 30px;
	line-height: 30px;
}

.btnGroup {
	float: right;
	margin-right: 20px;
	height: 30px;
}

.btnGroup button {
	float: left;
	background: #f3f3f3;
	height: 30px;
	width: 30px;
	color: #858585;
}

.btnGroup button.selected {
	color: #464646;
}

.btnGroup button:nth-of-type(1) {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.btnGroup button:nth-of-type(3) {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}