
@{
    ViewBag.Title = "login";
}

<!-- @{
    ViewBag.Title = "login";
} -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <!-- <link rel="stylesheet" href="../css/register.css"> -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'> -->
    <!--<link rel="stylesheet" href="~/Content/style.css" />-->
   <!-- <link rel="stylesheet" href="~/Content/loginStyle.css" />-->

    <!-- <script src="../js/register.js"></script> -->
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/app.js"></script>
</head>

<body>
    <section id="logo">
        <div class="bigDiv">
            <div class="middleDiv">
                <div class="smallDiv">
                    <img src="~/img/logo.png" />
                </div>
            </div>
        </div>
    </section>

    <section id="circle">
        <div class="bigDiv">
            <div class="middleDiv">
            </div>
        </div>
    </section>

    <form id="loginForm" action="/Login/Save">
        <div>
            <div>
                <svg aria-hidden="true" class="octicon octicon-mark-github" height="24" version="1.1" viewBox="0 0 16 16"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
                <input id="login-email" name="email" placeholder="用户名" required>
            </div>
            <div>
                <svg aria-hidden="true" class="octicon octicon-mark-github" height="24" version="1.1" viewBox="0 0 16 16"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
                <input id="login-password" type="password" name="password" placeholder="密码" required>
            </div>
            <input type="submit" name="" value="登录" />
            <!-- <input type="submit" name="login" value="立即注册"> -->
        </div>
    </form>
    <!-- <form>
        <fieldset>
            <label for="signup-email">账号</label>
            <input id="signup-email" type="email" name="email" required style="height: 30px">
            <label for="signup-password">密码</label>
            <input id="signup-password" type="password" name="password" required style="height: 30px">
            <label for="signup-confirm-password">再次确认密码</label>
            <input id="signup-confirm-password" type="password" name="password" required style="height: 30px">
            <label for="signup-school">选择学校</label>
            <input id="signup-school" type="school" name="school" required style="height: 35px">
        </fieldset>
        <input type="submit" name="continue" value="完成">
    </form> -->
</body>
</html>












<!--
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Animated Form</title>
    <link rel="stylesheet" href="~/Content/register.css">
</head>

<body>

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AnimaForm</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <main>
            <section class="buttons login-button-active">
                <button class="login-button">
                    <a href="#" class="log-link login-button-active">登陆</a>
                    <div class="login-underline login-button-active"></div>
                </button>
                <button class="signup-button">
                    <a href="#" class="sign-link">注册</a>
                    <div class="signup-underline login-button-active"></div>
                </button>
            </section>
            <section class="forms">-->
                <!--登陆表单-->
                <!--<form class="login-form login-button-active" action="/Login/Save" method="post">
                    <fieldset>
                        <label for="login-email">账号</label>
                        <input id="login-email" type="email" name="email" required>
                        <label for="login-password">密码</label>
                        <input id="login-password" type="password" name="password" required>
                    </fieldset>
                    <input type="submit" name="login" value="登录">
                </form>-->
                <!--注册表单-->
                <!--<form class="signup-form">
                    <fieldset>
                        <label for="signup-email">账号</label>
                        <input id="signup-email" type="email" name="email" required style="height: 30px">
                        <label for="signup-password">密码</label>
                        <input id="signup-password" type="password" name="password" required style="height: 30px">
                        <label for="signup-confirm-password">再次确认密码</label>
                        <input id="signup-confirm-password" type="password" name="password" required style="height: 30px">
                        <label for="signup-school">选择学校</label>
                        <input id="signup-school" type="school" name="school" required style="height: 35px">
                    </fieldset>
                    <input type="submit" name="continue" value="完成">
                </form>
            </section>
        </main>
    </body>
</html>

<script src="~/Scripts/register.js"></script>
</body>
</html>

-->